html, body {
  font-family: "Lucida Grande";
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
	font-family: "Avenir";
	font-size: 18px;
}

main > article{
	display: block;
	width: 65%;
  margin-left: 20px;
	margin-top: 30px;
  text-align: justify;
}

body > header {
	display: block;
	height: 30px;
	padding-top: 5px;
	padding-bottom: 30px;
	background-color: black;
}

header > h2 {
  font-family: "Avenir";
}

main > article > p {
  font-size: 14px;
}

body > header h1 {
	float: left;
	margin: 20px;
	margin-top: 10px;
	color: #0099CC;
	font-size: 35px;
}

body > header > h1 > span {
	font-size: 33px;
	color: black;
	font-family: helvetica;
}

nav ul {
	list-style-type: none;
	float: right;
	margin: 20px;
	margin-left: 50px;
	padding: 0;
  color: white;
}

nav li {
	display: inline;
	margin-top: 40px;
	font-family: helvetica;
	font-weight: lighter;
	font-size: 18px;
}

p {
  font-size: 18px;
  float: right;
}

main > article > p{
	float: left;
	width: 100%;
	margin-right: 0px;
	padding-bottom: 10px;
}

aside {
	float:right;
	width: 30%;
margin-right: 15px;
  text-align: justify;
}

aside > h2{
  font-size:16px;
}

aside > article > p {
  font-size: 12px;
}

aside > article > header {
  font-size: 12px;
}

main > section > article > p {
  font-size: 12px;
}
main > section > h3 {
  font-size: 18px;
}

main > section > article > h3 {
  font-size: 12px;
}

footer > p {
  color: black;
}

body > header > h1 {
  color: white;
}

section {
  text-align: justify;
  float:right;
  width: 90%;
  margin-left: 10px;
  margin-right: 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

hr {
	display: block;
	clear: left;
}

section article {
	float: left;
	width: 30%;
	text-align: justify;
	margin-right: 3%;
	padding-bottom: 0px;
}

img {
  margin-left: 100px;
}
